﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-10">
        <h2>@Html.ActionLink("Users", "Users", "Details")</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <h2>@Html.ActionLink("Products", "Products", "Details")</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <h2>@Html.ActionLink("Details", "Orders", "Details")</h2>
    </div>
</div>
