﻿@model TaskTwo.Models.Order


@using (Html.BeginForm("CreateOrder", "Creating", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2" for="Email">Email</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Email" name="Email" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Productname">Product name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Productname" name="Productname" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Productname" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
