﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <h2>Creating</h2>
    <hr />
    <div class="col-md-4">
        @Html.Partial("Createuser")
    </div>
    <div class="col-md-4">
        @Html.Partial("Createproduct")
    </div>
    <div class="col-md-4">
        @Html.Partial("Createorder")
    </div>
</div>
<h2>@ViewBag.Status</h2>