﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-sm-10">
        <h2>@Html.ActionLink("Creating", "Index", "Creating")</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <h2>@Html.ActionLink("Details", "Index", "Details")</h2>
    </div>
</div>
</div>

